src/wccm/config.json
dist/
src/__pycache__
src/wccm/__pycache__
src/wccm.egg-info
*.txt
*.wccm
*.cmi
lexicon.json
src/wccm/info.json
*.allo
output.md
src/wccm/cmd.py 
src/wccm/allophones.py
config.json